<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form class="container">
        <section class="header">
          <h1 class="header_text">Add New Facebook Pixel</h1>
        </section>
        <section class="option">
          <div class="option_left" :class="isAuto ? 'active' : ''">
            <input
              type="radio"
              id="auto"
              name="check"
              checked
              v-model="isAuto"
              value="true"
            />
            <label for="auto">Auto input pixel</label>
          </div>
          <div class="option_right" :class="isAuto ? '' : 'active'">
            <input
              type="radio"
              id="manual"
              name="check"
              v-model="isAuto"
              value="false"
            />
            <label for="manual">Manual input pixel</label>
          </div>
        </section>
        <!-- Is Auto Input -->
        <section class="body" v-if="isAuto">
          <div class="main_account">
            <div class="avatar">
              <img
                src="./assets/images/avatar.png"
                alt="avatar"
                class="avatar_main"
              />
              <img
                src="./assets/svg/facebook.svg"
                alt="facebook"
                class="avatar_facebook"
              />
            </div>
            <div class="info">
              <h2 class="info_name">Lotusprayer Store</h2>
              <div class="info_status">
                <img src="./assets/svg/check.svg" alt="check" />
                <span class="info_status-text">Connected</span>
              </div>
            </div>
            <button class="change">Change Account</button>
          </div>
          <!-- Business Account -->
          <div class="business_account">
            <label for="" class="business_account-title"
              >Select Business Account</label
            >
            <select
              name=""
              id=""
              class="business_account-select"
              v-model="selectedId"
            >
              <option value="" selected hidden>
                Select your business account
              </option>
              <option
                v-for="account in listBusinessAccount"
                :key="account.id"
                :value="account.id"
              >
                {{account.id}} - {{account.name}}
              </option>
            </select>
          </div>
          <!-- Pixel ID -->
          <div class="pixel">
            <label for="" class="pixel_title">Select Pixel</label>
            <select name="" id="" class="pixel_select" :disabled="isDisabled">
              <option value="" selected hidden>Select your pixel</option>
              <option
                v-for="pixelId in newPixelList"
                :key="pixelId.id"
                :value="pixelId.name"
              >
                {{pixelId.parentId}} - {{pixelId.name}}
              </option>
            </select>
          </div>
          <div class="missing" v-show="isMissing">
            <img src="./assets/svg/x-circle.svg" alt="" class="missing_icon" />
            <div class="missing_content">
              <h3 class="missing_content-header">Missing pixel</h3>
              <span class="missing_content-text">
                You don't have any Facebook Pixels in this Business Account.
                Change Business Account or
                <a href="#">Create New Facebook Pixel</a> first.
              </span>
            </div>
          </div>
        </section>
        <!-- Is Manual Input -->
        <section class="body" v-else>
          <div class="name">
            <label class="name_title" for="pixelName">Name this pixel</label>
            <input
              type="text"
              name=""
              id="pixelName"
              class="name_input"
              placeholder="Input your pixel name"
              required
              pattern="[a-zA-Z]*"
              v-model="pixelName"
            />
          </div>
          <div class="facebookid">
            <label for="pixelId" class="facebookid_title"
              >Enter Facebook Pixel ID</label
            >
            <input
              type="number"
              name=""
              id="pixelId"
              class="name_input"
              placeholder="Input your pixel id"
              required
              v-model="pixelId"
            />
          </div>
        </section>
        <section class="bottom">
          <div class="target">
            <label for="" class="target_title">Target</label>
            <select class="target_select">
              <option value="">Entire page</option>
            </select>
          </div>
          <div class="conversion">
            <div class="conversion_content">
              <h3 class="conversion_content-header">Conversion API</h3>
              <p class="conversion_content-text">
                Facebook conversions API will help you collect accurate data and
                improve the performance of your Facebook ads in a post-iOS 14
                update world. <a href="#">Learn more</a>
              </p>
            </div>
            <div class="switch">
              <input type="checkbox" v-model="conversionApi" />
            </div>
          </div>
        </section>
        <section class="upgrade">
          <img
            :src="isAuto ? './assets/svg/bell.svg' : './assets/svg/crown.svg'"
            alt=""
            class="upgrade_icon"
          />
          <span class="upgrade_content">
            Please <strong>UPGRADE</strong> your plan to use Conversion API
          </span>
        </section>
        <section class="footer">
          <button class="cancel" @click="cancel">Cancel</button>
          <button class="save" @click.prevent="save">Save</button>
        </section>
      </form>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js"></script>
  <script src="./main.js"></script>
</html>
