.body {
  width: 100%;
  .main_account {
    width: 100%;
    padding: 16px 14px 19px;
    display: flex;
    background-color: #f7f8fa;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    margin-bottom: 20px;

    .avatar {
      width: 42px;
      height: 42px;
      position: relative;
      margin-right: 9px;
      &_main {
        position: absolute;
        top: 0;
        left: 0;
      }
      &_facebook {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .info {
      &_name {
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
      &_status {
        &-text {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #35b26f;
        }
      }
    }
    button {
      padding: 12px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background-color: #fff;
      color: #4f4f4f;
      margin-left: auto;
      cursor: pointer;
    }
  }
  .business_account {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $header-color;
      margin-bottom: 8px;
    }
    &-select {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 13px;
      margin-bottom: 20px;
      border-color: $border-color;
      border-radius: $border-radius;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $option-color;
    }
  }
  .pixel {
    width: 100%;
    display: flex;
    flex-direction: column;
    &_title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $header-color;
      margin-bottom: 8px;
    }
    &_select {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 13px;
      margin-bottom: 20px;
      border-color: $border-color;
      border-radius: $border-radius;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $header-color;
      &:disabled {
        color: $input-color;
      }
    }
  }
  .missing {
    width: 100%;
    background: rgba($color: #ff999f, $alpha: 0.2);
    border-radius: $border-radius;
    padding: 14px 20px 15px 14px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    transition: all 1s ease;
    &_icon {
      margin-right: 11px;
    }
    &_content {
      &-header {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 2px;
        color: #4f4f4f;
      }
      &-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #4f4f4f;
        text-align: justify;
        a {
          color: #5b86e5;
        }
      }
    }
  }
  .name {
    width: 100%;
    display: flex;
    flex-direction: column;
    &_title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $header-color;
      margin-bottom: 8px;
    }
    &_input {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 13px;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $input-color;
      border-radius: $border-radius;
      border: 1px solid $border-color;
    }
  }
  .facebookid {
    width: 100%;
    display: flex;
    flex-direction: column;
    &_title {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $header-color;
      margin-bottom: 8px;
    }
    &_input {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 13px;
      margin-bottom: 20px;
      border-radius: $border-radius;
      border: 1px solid $border-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $input-color;
      outline: none;
    }
  }
}
