.bottom {
  width: 100%;
  margin-bottom: 25px;
  .target {
    display: flex;
    flex-direction: column;
    &_title {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $header-color;
    }
    &_select {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 13px;
      margin-bottom: 20px;
      border-color: $border-color;
      border-radius: $border-radius;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $option-color;
    }
  }
  .conversion {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 35px;
    &_content {
      &-header {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: $header-color;
        margin-bottom: 3px;
      }
      &-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $input-color;
        a {
          color: $main-blue;
          text-decoration: none;
        }
      }
    }
    .switch {
      margin-left: 20px;
      input[type="checkbox"] {
        position: relative;
        width: 36px;
        height: 20px;
        -webkit-appearance: none;
        background: #cecece;
        outline: none;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 3px;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          transform: translateY(-50%);
          background: #fff;
          transition: 0.3s;
          cursor: pointer;
        }
      }
      input:checked[type="checkbox"] {
        background: $main-blue;
        &::before {
          left: 18px;
        }
      }
    }
  }
}
