.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #e5e8ef;
  .cancel,
  .save {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    line-height: 16px;
    border-radius: $border-radius;
    cursor: pointer;
  }
  .cancel {
    width: 28%;
    border: 1px solid #e5e8ef;
    color: $header-color;
    background: #fff;
  }
  .save {
    width: 66%;
    background-color: $main-blue;
    color: #fff;
  }
}
