@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option_left, .option_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  padding-left: 10px;
  border: 1px solid #e5e8ef;
  border-radius: 4px;
}

.option_left input[type="radio"], .option_right input[type="radio"] {
  position: relative;
  margin-right: 7px;
  cursor: pointer;
}

.option_left input[type="radio"]:checked::after, .option_right input[type="radio"]:checked::after {
  border: 2px solid #5b86e5;
}

.option_left input[type="radio"]:checked::before, .option_right input[type="radio"]:checked::before {
  display: block;
}

.option_left input[type="radio"]::after, .option_right input[type="radio"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #828292;
  background-color: #fff;
  z-index: 2;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.option_left input[type="radio"]::before, .option_right input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #5b86e5;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  z-index: 3;
}

.option_left label, .option_right label {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.option .active {
  border-color: #5b86e5;
}

.option .active label {
  color: #5b86e5;
}

.body {
  width: 100%;
}

.body .main_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 14px 19px;
  margin-bottom: 20px;
  border: 1px solid #e5e8ef;
  border-radius: 4px;
  background-color: #f7f8fa;
}

.body .main_account .avatar {
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: 9px;
}

.body .main_account .avatar_main {
  position: absolute;
  top: 0;
  left: 0;
}

.body .main_account .avatar_facebook {
  position: absolute;
  right: 0;
  bottom: 0;
}

.body .main_account .info_name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.body .main_account .info_status-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #35b26f;
}

.body .main_account button {
  margin-left: auto;
  padding: 12px;
  border: 1px solid #e5e8ef;
  border-radius: 4px;
  background-color: #fff;
  color: #4f4f4f;
  cursor: pointer;
}

.body .business_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.body .business_account-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.body .business_account-select {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-bottom: 20px;
  border-color: #e5e8ef;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.body .pixel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.body .pixel_title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.body .pixel_select {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-bottom: 20px;
  border-color: #e5e8ef;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.body .pixel_select:disabled {
  color: #828282;
}

.body .missing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 14px 20px 15px 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: rgba(255, 153, 159, 0.2);
}

.body .missing_icon {
  margin-right: 11px;
}

.body .missing_content-header {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
}

.body .missing_content-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #4f4f4f;
}

.body .missing_content-text a {
  color: #5b86e5;
}

.body .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.body .name_title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.body .name_input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-bottom: 20px;
  border: 1px solid #e5e8ef;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.body .facebookid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.body .facebookid_title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.body .facebookid_input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #e5e8ef;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.bottom {
  width: 100%;
  margin-bottom: 25px;
}

.bottom .target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom .target_title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.bottom .target_select {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-bottom: 20px;
  border-color: #e5e8ef;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
}

.bottom .conversion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 35px;
}

.bottom .conversion_content-header {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #252627;
  margin-bottom: 3px;
}

.bottom .conversion_content-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.bottom .conversion_content-text a {
  color: #5b86e5;
  text-decoration: none;
}

.bottom .conversion .switch {
  margin-left: 20px;
}

.bottom .conversion .switch input[type="checkbox"] {
  position: relative;
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
  background: #cecece;
  outline: none;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.bottom .conversion .switch input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.bottom .conversion .switch input:checked[type="checkbox"] {
  background: #5b86e5;
}

.bottom .conversion .switch input:checked[type="checkbox"]::before {
  left: 18px;
}

.upgrade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 29px;
  border: 1px solid #ff9600;
  border-radius: 4px;
  cursor: pointer;
}

.upgrade_icon {
  margin-right: 8px;
}

.upgrade_content {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ff9600;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #e5e8ef;
}

.footer .cancel,
.footer .save {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  line-height: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.footer .cancel {
  width: 28%;
  border: 1px solid #e5e8ef;
  color: #252627;
  background: #fff;
}

.footer .save {
  width: 66%;
  background-color: #5b86e5;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding-top: 24px;
  background-color: #f4f5f5;
}

.container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  min-width: 420px;
  max-width: 800px;
  padding: 33px 40px 27px;
  margin: auto;
  border-radius: 16px;
  background-color: #fff;
}

.container .header {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e8ef;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #252627;
}
/*# sourceMappingURL=main.css.map */