@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./scss/variables";
@import "./scss/options";
@import "./scss/body";
@import "./scss/bottom";
@import "./scss/upgrade";
@import "./scss/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f5f5;
  padding-top: 24px;
}
.container {
  align-self: center;
  padding: 33px 40px 27px;
  width: 70%;
  min-width: 420px;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  border-radius: 16px;
  .header {
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $header-color;
  }
}
